<!-- Контакы -->
<section>
	<header>
		<h2>Контакы</h2>
	</header>
	<div class="content">
		<ul class="items">
			<li>
				<h3>Адрес / Реквизиты </h3>
				<span>ООО «Авода» </span></br>
				<span>Юридический и почтовый адрес : 394016, г. Воронеж, ул. 45-й Стрелковой дивизии 224.</span></br>
				<span>ИНН: 3662275130</span></br>
				<span>КПП: 366201001</span></br>
				<span>ОГРН: 1193668017773</span>
			</li>
			<li>
				<h3>Телефон</h3>
				<a href="#">+7 (999) 721-98-08</a>
			</li>
			<li>
				<h3>Email</h3>
				<a href="#">v.v.gukov@водупить.рф</a>
			</li>
			<!--li>
                <h3>Мы в сети</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </li-->
		</ul>
	</div>
	<footer></footer>
</section>


<!-- Copyright -->
<div class="copyright">&copy; #ВОДУПИТЬ. All rights reserved. 2019 <a href="https://водупить.рф">https://водупить.рф</a></div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

{{ partial "svg" . }}

<script src="/app.js"></script>
