  <!-- Intro -->
  <section class="intro">
    <header>
      <h1>ВОДУПИТЬ</h1>
      <p style="font-size: 1.25rem;">Стоимость артезианской воды за <strong style="color: #ef129e; font-size: 1.25rem">литр от З рублей</strong></p>
      <ul class="actions">
        <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
      </ul>
    </header>
    <div class="content">
      <span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
    </div>
  </section>

  <!-- Какую воду пить, чтобы нетуПИТЬ -->
  <section id="first">
    <header>
      <h2>Какую воду пить, чтобы нетуПИТЬ</h2>
    </header>
    <div class="content">
      <blockquote>В сегоднешнем современном мире мы с Вами можем найти несколько вариантов источников воды</blockquote>
      <div class="column">
        <p>
        <li class="water-tap"></li>
        <strong>Водопроводная вода</strong><br>
        Состав, способ очистки и качество водопроводных труб говорят о том, что пить её прямо из-под крана, нельзя.
        </p>

        <p>
        <li class="water-filter"></li>
        <strong>Фильтры для воды</strong><br>
        Лишние затраты на приобретение оборудования и фильтра – вода станет безопасной, а вот полезной , вряд ли.
        </p>

        <p>
        <li class="hand-wash"></li>
        <strong>Брать воду из найденного источника неподалёку</strong><br>
        Экология, состав и безопасность таких вод напрямую зависит от экологии района и несет грязный отпечаток техногенности и цивилизации.
        </p>

        <p>
        <li class="water-heater"></li>
        <b>Вода на основе системы обратного осмоса</b><br>
        Высокая очистная способность.  Установки обратного осмоса фильтрует воду до состояния деминерализованной,
        то есть отсутствуют полезные для организма человека вещества. Кроме этого, после обратного осмоса вода треряет свои вкусовые качества.
        </p>
      </div>
    </div>
  </section>

  <!-- Мы предлагаем оптом -->
  <section>
    <header>
      <h2>Мы предлагаем оптом</h2>
    </header>
    <div class="content">
      <p>Категорию питьевой воды максимально приближенную к той,что создала матушка-природа.. Не "измучена" и не выхолощена сильными процедурами современной очистки, а значит АРТЕЗИАНСКУЮ</p>
    </div>
  </section>

  <!-- Кто мы и что мы -->
  <section>
    <header>
      <h2>Кто мы и что мы</h2>
    </header>
    <div class="content">
      <p>
        Наша компания <strong>«Авода»</strong> предлагает Вам новую форму сотрудничества на выгодных условиях.
        Мы продаем артезианскую воду. Добываем её из скважины глубиной более 100 метров. Наша вода проходит регулярный контроль качества,
        имеет всю необходимую для реализации документацию. Новая форма сотрудничества заключается в том, что мы продаём артезианскую воду оптом.
        Доставляем воду специальными автоцистернами, за счет чего снижаются расходы на логистику , поэтому мы предлагаем более комфортные и
        приемлемые цены на артезианскую воду. Заправка воды осуществляются в современные и модернизированные аквабаки,
        которые позволяют сохранить высокие потребительские качества воды с момента заправки до момента использования.
      </p>
    </div>
  </section>

  <!-- Как оформить заказ -->
  <section>
    <header>
      <h2>Как оформить заказ</h2>
    </header>
    <div class="content">
      <blockquote>Заявку на поставку воды вы можете оформить отправив письмо на почту  <strong style="color: #ef129e; font-size: 1.0rem">zakaz@водупить.рф</strong>  или позвонить по телефону <code style="color: #ef129e; font-size: 1.0rem">+7 (999) 721-98-08</code> и наши менеджеры примут ваш заказ</blockquote>
      <!--form>
        <div class="fields">
          <div class="field half">
            <input type="text" name="name" id="name" placeholder="Имя" />
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="message" placeholder="Комментарий" rows="7"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Отправить" class="button primary" /></li>
        </ul>
      </form-->
    </div>
  </section>






<!--div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div-->
